.grid {
	width:  400px;
	height: 600px;
	background-color: #333;
	color: white;
	position: relative;
	font-size: 200px;
	text-align: center;
}

.guitar {
	width: 80px;
	height: 80px;

	background-image: url("assets/guitar.svg");
	position: absolute;
}

.stage {
	width: 85px;
	height: 15px;
	background-color: rgba(205, 171, 83, .3);
	position: absolute;
	border-radius: 16%;
}