.grid {
	width:  400px;
	height: 600px;
	background-color: aliceblue;
	position: relative;
}

.guitar {
	width: 60px;
	height: 85px;
	background-color: green;
	position: absolute;
}

.stage {
	width: 85px;
	height: 15px;
	background-color: tan;
	position: absolute;
}